# Ignore Python virtual environments
.venv/
venv/
env/

# Ignore compiled files
__pycache__/
*.py[cod]

# Ignore test and build artifacts
.pytest_cache/
*.egg-info/
dist/
build/

# Ignore editor files
.vscode/
.idea/
.DS_Store
